{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact_styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
  <div id= "wrapper">
 <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>

<div id='contact_us'>
  <h1>Contact Us</h1>
</div>
	
	
<div class= 'contact'>
	<h3> Manas Choudhary</h3>
    <div class="glyphicon glyphicon-phone" aria-hidden="true">9560859168</div>
    
</div>
<div class="glyphicon glyphicon-envelope" aria-hidden="true">manaschoudhary100@gmail.com</div>

<div class= 'contact'>
	<h3> Arnav Saxena</h3>
	<div class="glyphicon glyphicon-phone" aria-hidden="true">9990295235</div>
	</div>
	<div class="glyphicon glyphicon-envelope" aria-hidden="true">arnavsaxena96@gmail.com</div>


</div>
{%endblock%}