{% extends "base.html" %}

{% load static %}


{% block styles %}
# <link rel="stylesheet" href="{% static 'team_register_styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id= "wrapper">

<h3> Register your team here </h3>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"><a href="{% url 'member_register' %}">Save And Continue</a></button>
</form>
{% else %}
<h1> Sign In to view this page</h1>
{%endif%}
</div>
{%endblock%}